<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %> 
  
  <div class="field">
    <%= f.text_area :choose, placeholder: "Compose new micropost..." %>
  </div>


  <ol class="courselist">
  	
  
  	<%Course.all.each do |cou|%>
  
  		<li class="courselist-item">
  			<%=f.label :name , cou.name %>
  			<%=check_box_tag 'courses[]',cou.name,false%>  
		</li>
	<%end%>

		

  </ol>

<aside class="col-md-6"> 
	<%= f.submit "添加课程", class: "btn btn-success" %> 
</aside>

<div class="col-md-6"> 
	<%= f.submit "确认无误，选课！", class: "btn btn-danger" %> 
</div>




<% end %>