<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

    
      <h3>可选课程</h3>
      <table class="table table-striped">
         <tr>
          <th>选择</th>
          <th>课程代码</th>
          <th>名称</th>
          <th>教师</th>
          <th>时间</th>
          <th>地点</th>
          <th>类别</th>
          <th>性质</th>
          <th>学分</th>
          <th>已选/容量</th>
          </tr>

        
        	<%Course.all.each do |cou|%>

            <tr>
              <th><%=check_box_tag 'courses[]',cou.name,false%></th>
              <th><%=cou.course_id%></th>
              <th><%=cou.name%></th>
              <th><%=cou.teacher%></th>
              <th><%=cou.time%></th>
              <th><%=cou.place%></th>
              <th><%=cou.course_class%></th>
              <th><%=cou.required%></th>
              <th><%=cou.credit%></th>
              <th><%=cou.now_selected.to_s+"/"+cou.volume.to_s%></th>
              <!--
            <div class="row">
        		  <li>
                <div class="col-md-1"> 
                  <%=check_box_tag 'courses[]',cou.name,false%> 
          			</div> 
                <div class="col-md-4"> 
                  <%=f.label :name , cou.name %>
                </div>
      		    </li>
            </div>
             -->
            </tr>
      	  <%end%>
        

      </table>
   
        <div class="col-md-6"> 
          <%= f.submit "添加课程", class: "btn btn-success" %> 
        </div>
      
        <!--
      </div>
      <div class="row">
        
        <div class="col-md-6"> 
          <%= f.submit "确认无误，选课！", class: "btn btn-danger" %> 
        </div>
      </div>
        -->

<% end %>