
<li id="<%= micropost.id %>">
<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
<span class="user">
	<%= link_to micropost.user.name, micropost.user %>
</span> 
<span class="content">
	<%= micropost.content %></span>
<span class="timestamp">
  <%= time_ago_in_words(micropost.created_at) %> 前选择。 
  <% if current_user?(micropost.user) %>
  	<%= link_to "退选", micropost, method: :delete,
                                 data: { confirm: "确定退选该课程？" } %>
  <% end %> </span>
</li>